@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

body {
    background: #313143;
    color: #999;
    font-family: Roboto;
}

.social {
    position: absolute;
    top: 72%;
}

.social-inner {
    width: 80px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.social-inner a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.social-inner a svg {
    width: 30px;
    fill: #ffffff;
}

.social-inner .portfolio {
    background-color: rgb(0, 60, 255);
}

.social-inner .github {
    background-color: rgb(24, 22, 22);
}

.social-inner .linkedin {
    background-color: #33BBFF;
}

.social-inner .instagram {
    background: linear-gradient(45deg, #833AB4, #FD1D1D, #F56040);
}

.social-inner a:hover {
    width: 90px;
}

/* subscribe form  */
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #ECF1FD;
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 5px;
}

.note {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-style: normal;
    font-weight: 100;
    font-size: 27pt;
    color: #E43;
    line-height: 24px;
}

.subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #5F5D6B;
}

.input_field {
    width: 100%;
    height: 42px;
    padding: 0 0 0 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(165, 148, 148, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 1px #767688;
    background-color: #767688;
}

.form button.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
    width: 100%;
    height: 42px;
    background: linear-gradient(180deg, #4480FF 0%, #115DFC 50%, #0550ED 100%);
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 5px;
    border: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}

.card {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 600px;
    height: 400px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
}

.card2 {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #1a1a1a;
    transition: all .2s;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}